<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Lab Config</title>
</head>
<body>
    <div class="accent">
        <ul class="menu">
            <li class="menu"><a class="menu" href="#labConfig">Lab Config</a></li>
            <li class="menu"><a class="menu" href="#buildStatus">Backlog Summary</a></li>
        </ul>
    </div>
    <div>
        <table>
        <tr>
            <th class="bliInfoColHdr">ID</th>
            <th class="bliInfoColHdr">Title</th>
            <th class="bliInfoColHdr">Team</th>
            <th class="bliInfoColHdr">Status</th>
            <th class="bliInfoColHdr">Activity Id</th>
            <th class="bliInfoColHdr">Build for Latest Change</th>
        </tr>
        <tr>
            <td class="data">B-01234</td>
            <td class="data">Test BLI 1</td>
            <td class="data">Team 1</td>
            <td class="data">In Progress</td>
            <td class="data">KA30234</td>
            <td class="data">PTAS 7.10.42</td>
        </tr>
        </table>
    </div>
    <div class="accent">
        last updated 4/21/2014
    </div>
</body>
</html>