<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Lab Config</title>
</head>
<body>
    <div class="accent">
        <ul class="menu">
            <li class="menu"><a class="menu" href="#labConfig">Lab Config</a></li>
            <li class="menu"><a class="menu" href="#buildStatus">Build Status</a></li>
        </ul>
    </div>
    <div>
        <table>
        <tr>
            <td class="labCfgColHdr"></td>
            <th class="labCfgColHdr">RST</th>
            <th class="labCfgColHdr">MIPS</th>
            <th class="labCfgColHdr">WTT020</th>
            <th class="labCfgColHdr">WTT021</th>
        </tr>
        <tr><td class="lngRow" colspan=100%>IOS</td></tr>
        <tr>
            <td class="dataHdr">Version</td>
            <td class="data">1.1</td>
            <td class="data">1.1</td>
            <td class="data">1.0</td>
            <td class="data">1.1</td>
        </tr>
        <tr>
            <td class="dataHdr">Sub-System Version</td>
            <td class="data">1.0</td>
            <td class="data">1.0</td>
            <td class="data">1.0</td>
            <td class="data">1.0</td>
        </tr>
        <tr><td class="lngRow" colspan=100%>CES</td></tr>
        <tr>
            <tr>
            <td class="dataHdr">Version</td>
            <td class="data">1.1</td>
            <td class="data">1.1</td>
            <td class="data">1.0</td>
            <td class="data">1.1</td>
        </tr>
        <tr>
            <td class="dataHdr">Sub-System Version</td>
            <td class="data">1.0</td>
            <td class="data">1.0</td>
            <td class="data">1.0</td>
            <td class="data">1.0</td>
        </tr>
        </tr>
        <tr><td class="lngRow" colspan=100%>PTAS</td></tr>
        <tr>
            <tr>
            <td class="dataHdr">Version</td>
            <td class="data">1.1</td>
            <td class="data">1.1</td>
            <td class="data">1.0</td>
            <td class="data">1.1</td>
        </tr>
        <tr>
            <td class="dataHdr">Sub-System Version</td>
            <td class="data">1.0</td>
            <td class="data">1.0</td>
            <td class="data">1.0</td>
            <td class="data">1.0</td>
        </tr>
        </tr>
        <tr><td class="lngRow" colspan=100%>Audio</td></tr>
        <tr>
            <tr>
            <td class="dataHdr">Version</td>
            <td class="data">1.1</td>
            <td class="data">1.1</td>
            <td class="data">1.0</td>
            <td class="data">1.1</td>
        </tr>
        <tr>
            <td class="dataHdr">Sub-System Version</td>
            <td class="data">1.0</td>
            <td class="data">1.0</td>
            <td class="data">1.0</td>
            <td class="data">1.0</td>
        </tr>
        </tr>
        <tr><td class="lngRow" colspan=100%>IG</td></tr>
        <tr>
            <tr>
            <td class="dataHdr">Version</td>
            <td class="data">1.1</td>
            <td class="data">1.1</td>
            <td class="data">1.0</td>
            <td class="data">1.1</td>
        </tr>
        <tr>
            <td class="dataHdr">Sub-System Version</td>
            <td class="data">1.0</td>
            <td class="data">1.0</td>
            <td class="data">1.0</td>
            <td class="data">1.0</td>
        </tr>
        </tr>
        </table>
    </div>
    <div class="accent">
        last updated 4/21/2014
    </div>
</body>
</html>